/*Selector universal*/
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    color: blue;
}

.patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 800;
    font-style: normal;
    }
  

body{
    background-color: rosybrown;
    font-family: "Patrick Hand", cursive;
    font-weight: 1000;
    font-style: normal;
    }


main{
    display: flex;
    flex-wrap: wrap;
}

h1{
    color:white;
}


.tarjeta {
    width: 340px;
    height: 360px;
    background-color: rgb(0, 255, 106);
    border-radius: 3%;
    /*Centrando elementos*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 12px;
    border: 3px solid;
    transition: all 0.4s ease-in-out;
}

.titulo-tarjeta{
    margin-bottom: 13px;

}

.tarjeta:hover{ 
    background-color: blue;
    transform: scale(1.05);
    transform: rotate(3deg);

}

.tarjeta .caja-contenedora{
    width: 200px;

}




.tarjeta img{
    background-color: blanchedalmond;
    height: 150px;
    width: 150ox;
    object-fit: cover;
    border-radius: 5%;
}

.tarjeta p{
    font-size: 20px;
}



#gato{
    color:burlywood;
}

#perro{
    color:red;
}
/*se utiliza con cuidado*/



